<h1>New User</h1>

<%= form_for(@user, url: signup_index_path, html: { multipart: true }) do |f| %>
    <% if @user.errors.any? %>
        <div class="form-errors">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited your user from being saved:</h2>

            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="user-field">
        <%= f.label "Full Name: " %>
        <%= f.text_field :full_name %>
    </div>

    <div class="user-field">
        <%= f.label "Email: " %>
        <%= f.text_field :email %>
    </div>

    <div class="user-field">
        <%= f.label "Password: " %>
        <%= f.password_field :password %>
    </div>

    <div class="user-field">
        <%= f.label "Profile Picture: " %>
        <%= f.file_field :avatar %>
    </div>

    <%= f.submit "Sign Up" %>
<% end %>

<%= link_to "Nevermind", posts_path %>
